@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="inner">
    <form asp-controller="Account" asp-action="Register" enctype="multipart/form-data" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h4>Create a new account</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="field half first">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="field half first">
            <label asp-for="Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Birthday" style="color:inherit;background-color:inherit;"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="field half first">
            <label asp-for="ProfilePic" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" asp-for="ProfilePic" />
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>
        </div>
        <div class="field half first">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="field half first">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="field half first">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
