@model PersonalChallenge.Models.ChallengeViewModels.AddProofViewModel

@{
    ViewData["Title"] = "AddProof";
}


<div id="wrapper">
    <div id="main">


        <div class="inner">
            <header class="major">
                <h2>Add a proof</h2>
            </header>
            <section>
                <form asp-action="AddProof" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="field half first">
                        <label asp-for="Quantity" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="field half">
                        <label asp-for="Comment" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Comment" class="form-control" />
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                    </div>       
                    <div class="field">
                        <label asp-for="ContentPath" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="file" asp-for="ContentPath" class="form-control" />
                            <span asp-validation-for="ContentPath" class="text-danger"></span>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Add Proof" class="special" /></li>
                        <li><input type="reset" value="Clear" /></li>
                        <li><a asp-action="Index" class="button">Back to List</a></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>
