@model IEnumerable<PersonalChallenge.Models.ChallengeViewModels.ChallegeListViewModel>

@{
    ViewData["Title"] = "Index";
}


<div id="wrapper">
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="images/pic07.jpg" alt="" />
            </span>
            <header class="major">
                <h1>Challenges</h1>
            </header>
            <div class="content">
                <p>
                    Select a challenge
                    or create a new One <a asp-controller="Challenges" asp-action="Create" class="button">Create a Challenge</a>
                </p>
            </div>
        </div>
    </section>

    <div id="main">

        <!-- One -->
        <section id="one" class="tiles">
           @foreach (var item in Model)
           {  
               <article>
                <span class="image">
                    <img src="images/pic01.jpg" alt="" />
                </span>
                <header class="major">
                    <h3><a asp-action="Details" asp-controller="Challenges" asp-route-id=@item.Id class="link">@item.Name</a></h3>
                    <p>Type: <i>@item.ChallengeType</i> - @item.Description </p>
                    <p>@item.Proofs/@item.Members of members done it</p>
                    <p>Is Active:@item.IsActive </p>
                </header>
            </article>

           }
        </section>
    </div>
