
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PersonalChallenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @*<environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>*@
        <!--[if lte IE 8]><script src="~/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="~/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="~/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="~/css/ie8.css" /><![endif]-->
   
</head>
<body>
    <div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <a asp-controller="Home" asp-action="Index" class="logo"><strong>Personal Challenge</strong> </a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>


    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a asp-controller="Home" asp-action="MyProfile"><b>My Profile</b></a></li>
            <li><a asp-controller="Teams" asp-action="Index">Teams</a></li>
            <li><a asp-controller="ChallengeTypes" asp-action="Index">Challenge Types</a></li>
            <li>@await Html.PartialAsync("_LoginPartial")</li>
        </ul>
    </nav>

    <div class="container body-content">

        @RenderBody()
        <hr />
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy;PersonalChallenge - gxsham</li>
                <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>
  </div>
    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@
    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
