@model PersonalChallenge.Models.ChallengeType

@{
    ViewData["Title"] = "Create";
}


<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header class="major">
                <h2>Create a Challenge Type</h2>
            </header>
            <section>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="field half first">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field half">
                        <label asp-for="MeasuredIn" class="control-label"></label>
                        <input asp-for="MeasuredIn" class="form-control" />
                        <span asp-validation-for="MeasuredIn" class="text-danger"></span>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Create" class="special" /></li>
                        <li><input type="reset" value="Clear" /></li>
                        <li><a asp-action="Index">Back to List</a></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



