@model PersonalChallenge.Models.ChallengeType

@{
    ViewData["Title"] = "Edit";
}



<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header class="major">
                <h2>Create a Challenge Type</h2>
            </header>
            <section>
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="field half first">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="field half">
                        <label asp-for="MeasuredIn" class="control-label"></label>
                        <input asp-for="MeasuredIn" class="form-control" />
                        <span asp-validation-for="MeasuredIn" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <div class="6u 12u$(small)">
                            <input type="checkbox" id="demo-copy" asp-for="Approved" >
                            <label for="demo-copy">Aprove</label>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Save" class="special" /></li>
                        <li><input type="reset" value="Clear" /></li>
                        <li><a asp-action="Index">Back to List</a></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>
